<div class="panel panel-default data-window collapse-group" id = "new-employee" >
  <header class="panel-heading">
    <h4>Nueva Empleado</h4>
  </header>
  <div class="panel-body" id = "new-employee-form">
		<%= render :partial => 'form' %>
  </div>
</div>