<%- model_class = Research -%>
<div class="panel panel-default data-window collapse-group" id = "new-research" >
  <header class="panel-heading">
    <h4><%="Estudio Para #{@research.organization.name.titleize rescue @research.organization_name.titleize}"%></h4>
  </header>
  <div class="panel-body form-panel" id = "new-research-form">
		<%= render :partial => 'form' %>
  </div>
</div>