<%- model_class = Research -%>
<div class="panel panel-default data-window collapse-group" id = "new-research" >
  <header class="panel-heading">
    <h4>Nuevo Estudio</h4>
  </header>
  <div class="panel-body" id = "new-research-form">
		<%= render :partial => 'form' %>
  </div>
</div>