<%= render "/shared/gchart_load" %>
<h1>Reports</h1>
<div class = "row">
  <div class = "span5">
    <%= render partial: "/shared/data_window", locals:{object: @research, report_chart: true, data: research.total_perception}%>
  </div>

  <div class = "span5">
    <%= render partial: "/shared/data_window", locals:{object: @research, report_chart: true, data: research.total_perception}%>
  </div>
  
</div>
