<%= render "/shared/gchart_load" %>
<h1>Reports</h1>
<div class = "row">
  <div class = "span5">
    <%= gchart_window @research, :report, @research.total_perception, :pie, title: "Datos Globales de la percepcion de clima organizacional" %>
  </div>

  <div class = "span5">
    <%= gchart_window @research, :report, @questions_results, :column, title: "Resultados por preguntas", hAxis: {title: 'Preguntas', gridlines: { count: @questions_results.last.first }} %>
  </div>
  
</div>
