<%- model_class = Dimension -%>
<div class="panel panel-default data-window collapse-group" id = "new-research" >
  <header class="panel-heading">
    <h4>Dimension <%= @dimension.name.titleize%>	</h4>
  </header>
  <div class="panel-body" id = "new-research-form">
		<%= render :partial => 'form', :locals=>{:edit=>false} %>
  </div>
</div>
