<h3 class = "easypie-chart-title">Datos Globales de las dimensiones</h3>
<div class = "row easypie-chart-container">
	<%i = 0%>
	<% chart_data.each do |data| %>
		<div class = "span2">
			<div class = "easypie-chart" data-percent = "<%=data.last%>" data-barcolor = "<%=case i when 0 then "#dc3912"; when 1 then "#ff9900"; when 2 then "#3366cc"; when 3 then "#109618"; end%>"><%=data.last%>%</div>
			<div class = "easypie-chart-label"><%=data.first.titleize%></div>
		</div>
		<%i += 1%>
	<% end %>
	<% if more_reports %>
		<div class = "span2">
			<a class = "btn-more-charts btn btn-primary">
				<p>Ver Mas</br>Graficos</p>
			</a>
		</div>
	<% end %>
</div>