<div class = "dropdown command options">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class = "glyphicon glyphicon-th"></span></a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li>
      <%= link_to edit_research_path(id: object.id) do %>
        <span class = "glyphicon glyphicon-edit"></span> Editar</a>
      <% end %>
    </li>

    <li>
      <%= link_to research_path(id: object.id), method: :delete, confirm: "Estas seguro que deseas eliminar este Estudio" do %>
        <span class = "glyphicon glyphicon-trash"></span> Elimiar</a>
      <% end %>
    </li>
  </ul>
</div>