<div class="modal hide fade" id="accountModal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>Mi Cuenta</h3>
    </div>
    <div class="modal-body">        
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" id="submit-account-form">Save changes</a>
        <a href="#" class="btn">Close</a>
    </div>
</div>

<div class="modal hide fade" id="passwordModal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>Cambiar Contraseña</h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" id="submit-password-form">Guardas Cambios</a>
        <a href="#" class="btn">Close</a>
    </div>
</div>