// Place all the styles related to the DemographicVariables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.boolean-field{
	width:90px;
	display: inline-block;
}
.admin-dsiplay-values.selected{
	display:block
}
.admin-dsiplay-values{
	display:none;
}
.example-field{
	font-style: italic;
	color: gray;
	font-size: 10px;
}