// Place all the styles related to the DemographicVariables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.number-field{
	width:30px;
}
.boolean-field{
	width:60px;
}
.admin-dsiplay-values.selected{
	display:block
}
.admin-dsiplay-values{
	display:none;
}
