// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "brand_variables";
.bar{
  width: 30px;
  height: 1px;
  border-top: 7px solid black;
}
.user-settings{
  .label{
    display: inline-block;
  }
  .caret{
    margin-top: -15px;
    color: #fff;
  }
  .user-icon{
    border: 2px solid #ebebeb;
    border-radius: 50px;
    display: inline-block;
  }
  .user-label{
    margin-top: -20px;
    padding-left: 5px;
    display: inline-block;
    vertical-align: middle;
    color: #fff
  }
  .dropdown-toggle{
    padding-top: 10px;
    padding-bottom: 10px;
  }

}

.main-container{
  margin-top: 41px;
  .app-container{
    margin-left: 185px;
    padding-top: 20px;
    padding-left: 50px;
    .inner-container{
      padding: 20px 80px 35px 80px;
      background: #fff;
    }
  }
  .left-menu{
    max-width: 200px;
    position:fixed;
    background-color: lighten($secondary-color, 10%);
    height: 100%;
    margin-top: 10px;
    z-index: 1000;
  }
}
.data-window{
  margin-bottom:20px;
  border: 1px solid #BDC3C7;
  header{
    background: #BDC3C7; 
    color: #363636;
    border: 1px solid #BDC3C7;
    padding: 5px 0px;
    h4{
      margin: 0px 10px;
      display: inline-block;
    }
    a{
      color:#323232;
      &:hover{
        text-decoration:underline;
        color:#323232;
      }
      &:visited{
        text-decoration: underline;
        color: #323232;
      }
      &:active{
        text-decoration: none;
        color: #323232;
      }
    }
    .windows-commands{
      display: inline-block;
      margin-right: 10px;
      .command.options{
        max-width: 25px;
        display: inline-block;
        a{
            color:#323232;
            &:hover{
              text-decoration:none;
              color:#323232;
            }
            &:visited{
              text-decoration: none;
              color: #323232;
            }
            &:active{
              text-decoration: none;
              color: #323232;
            }
        }
        .dropdown-menu{
          a{
            color:#323232;
            &:visited{  
              text-decoration: none;
              color: #323232;
            }
            &:active{
              text-decoration: none;
              color: #323232;
            }
            &:hover{
              text-decoration:none;
              color:#323232;
            }
          }
        }
      }
      .command{
        padding: 0px 5px;
      }
    }
  }
  .window-content{
    width: 100%;
    max-height: 280px;
    //overflow: scroll;
    background-color: white;
    .general-info{
      font-size: 15px;
      padding: 30px 15px;
      tr{
        padding: 5px 0px;
        margin: 10px 0px;
      }
      .info-container{
        width: 100%;
        font-size: 12px;
        .row{
          margin-bottom: 10px;
        }
      }
      .info-label{
        font-weight: bold;
        margin-right: 5px;
      }
      .command-options{
        margin-top: 40px;
        margin-bottom: 50px;
        .btn-command{
          margin: 0px 5px;
        }
      }
    }
    .report-chart{
      width: 100%;
      height: auto;
    }

    .report-chart.chart-copy{
      width: 1500px;
      height: 900px;
      position: absolute;
      display: none;
    }
  }
}
.new-btn{
  float: right;
  margin-top: -50px;
}
.easypie-chart-title{
  font-size: 14px;
  text-align: center;
}
.easypie-chart-label{
  margin: 0 30px;
  padding-top: 10px;
  font-weight: bold;
}
.row.easypie-chart-container{
  padding-left: 10%;
  padding-bottom: 20px;
}
.btn-more-charts{
  background-color: #AFAFAF;
  background-image: none;
  width: 110px;
  height: 110px;
  border-radius: 100px;
  padding: 0;
  &:hover{
    background-color:#777b7d;
  }
  .btn-inner{
    font-size: 12px;
    background: none repeat scroll 0 0 #fff;
    border-radius: 100px;
    height: 90px;
    margin-left: 9px;
    margin-top: 9px;
    padding-top: 10px;
    text-align: center;
    width: 90px;
    p{
      font-size: 12px;
      text-align: center;
      font-weight: bold;
    }
    
  }
}
.results{
  margin-top: 10px;
}
.questions-tab{
  padding-top:20px;
  margin-bottom: 35px;
}
