/**********Big Logos*******/
.big-logo-crom-1, .big-logo-crom-2, .big-logo-crom-3, .big-logo-crom-4, .big-logo-inverse,
.big-logo-normal
{ display: inline-block; background: image-url("logos/big.png") no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.big-logo-crom-1 { background-position: -10px -0px; width: 757px; height: 486px; }
.big-logo-crom-2 { background-position: -777px -0px; width: 757px; height: 486px; }
.big-logo-crom-3 { background-position: -10px -496px; width: 757px; height: 486px; }
.big-logo-crom-4 { background-position: -777px -496px; width: 757px; height: 486px; }
.big-logo-inverse { background-position: -10px -992px; width: 757px; height: 486px; }
.big-logo-normal { background-position: -777px -992px; width: 757px; height: 486px; }

/******Medium logos*****/
.medium-logo-crom-1, .medium-logo-crom-2, .medium-logo-crom-3, .medium-logo-crom-4, .medium-logo-inverse,
.medium-logo-normal
{ display: inline-block; background: image-url("logos/medium.png") no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.medium-logo-crom-1 { background-position: -10px -0px; width: 569px; height: 365px; }
.medium-logo-crom-2 { background-position: -589px -0px; width: 569px; height: 365px; }
.medium-logo-crom-3 { background-position: -10px -375px; width: 569px; height: 365px; }
.medium-logo-crom-4 { background-position: -589px -375px; width: 569px; height: 365px; }
.medium-logo-inverse { background-position: -10px -750px; width: 569px; height: 365px; }
.medium-logo-normal { background-position: -589px -750px; width: 569px; height: 365px; }

/******Small Logos*******/

.small-logo-crom-1, .small-logo-crom-2, .small-logo-crom-3, .small-logo-crom-4, .small-logo-inverse,
.small-logo-normal
{ display: inline-block; background: image-url("logos/small.png") no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.small-logo-crom-1 { background-position: -10px -0px; width: 379px; height: 243px; }
.small-logo-crom-2 { background-position: -399px -0px; width: 379px; height: 243px; }
.small-logo-crom-3 { background-position: -10px -253px; width: 379px; height: 243px; }
.small-logo-crom-4 { background-position: -399px -253px; width: 379px; height: 243px; }
.small-logo-inverse { background-position: -10px -506px; width: 379px; height: 243px; }
.small-logo-normal { background-position: -399px -506px; width: 379px; height: 243px; }

/*****Mini Logos******/
.mini-logo-crom-1, .mini-logo-crom-2, .mini-logo-crom-3, .mini-logo-crom-4, .mini-logo-inverse,
.mini-logo-normal
{ display: inline-block; background: image-url("logos/mini.png") no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.mini-logo-crom-1 { background-position: -10px -0px; width: 190px; height: 122px; }
.mini-logo-crom-2 { background-position: -210px -0px; width: 190px; height: 122px; }
.mini-logo-crom-3 { background-position: -10px -132px; width: 190px; height: 122px; }
.mini-logo-crom-4 { background-position: -210px -132px; width: 190px; height: 122px; }
.mini-logo-inverse { background-position: -10px -264px; width: 190px; height: 122px; }
.mini-logo-normal { background-position: -210px -264px; width: 190px; height: 122px; }


/********Mini logos********/
.micro-logo-crom-1, .micro-logo-crom-2, .micro-logo-crom-3, .micro-logo-crom-4, .micro-logo-inverse,
.micro-logo-normal
{ display: inline-block; background: image-url("logos/micro.png") no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.micro-logo-crom-1 { background-position: -10px -0px; width: 83px; height: 53px; }
.micro-logo-crom-2 { background-position: -103px -0px; width: 83px; height: 53px; }
.micro-logo-crom-3 { background-position: -10px -63px; width: 83px; height: 53px; }
.micro-logo-crom-4 { background-position: -103px -63px; width: 83px; height: 53px; }
.micro-logo-inverse { background-position: -10px -126px; width: 83px; height: 53px; }
.micro-logo-normal { background-position: -103px -126px; width: 83px; height: 53px; }