// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.report-parameters-builder{
  margin-bottom: 25px;
}
.dimension-params{
  max-width: 220px;
}
.question-params{
  max-width: 165px;padding-top: 23px;margin-left: 15px;
}
.demographic-params{
  .demographic-query-value{
    display: none;
  }
  select.demographic-query-value{
    min-width: 220px;
  }
}