.s-19-gear-white, .s-53-house-white, .s-112-group-white, .s-187-pencil-white, .s-253-person-white, .s-272-windows-white, .s-19-gear-2x-white, .s-53-house-2x-white, .s-112-group-2x-white, .s-187-pencil-2x-white, .s-253-person-2x-white, .s-272-windows-2x-white, .s-19-gear, .s-53-house, .s-112-group, .s-187-pencil, .s-253-person, .s-272-windows, .s-19-gear-2x, .s-53-house-2x, .s-112-group-2x, .s-187-pencil-2x, .s-253-person-2x, .s-272-windows-2x{
  background: image-url("sprites.png") no-repeat;
}

.s-19-gear-white{
  background-position: -10.964286804199219px -4.982143402099609px ;
  width: 26px;
  height: 26px;
}

.s-53-house-white{
  background-position: -61.0000114440918px -6.000003814697266px ;
  width: 22px;
  height: 22px;
}

.s-112-group-white{
  background-position: -109.0000114440918px -6.000003814697266px ;
  width: 32px;
  height: 21px;
}

.s-187-pencil-white{
  background-position: -159.0000114440918px -6.000003814697266px ;
  width: 23px;
  height: 23px;
}

.s-253-person-white{
  background-position: -212px -4px ;
  width: 26px;
  height: 24px;
}

.s-272-windows{
  background-position: -262px -5px ;
  width: 20px;
  height: 18px;
}

.s-19-gear-2x-white{
  background-position: -15px -61px ;
  width: 52px;
  height: 52px;
}

.s-53-house-2x-white{
  background-position: -91px -61px ;
  width: 44px;
  height: 44px;
}

.s-112-group-2x-white{
  background-position: -156px -64px ;
  width: 64px;
  height: 42px;
}

.s-187-pencil-2x-white{
  background-position: -253px -68px ;
  width: 46px;
  height: 46px;
}

.s-253-person-2x-white{
  background-position: -322px -70px ;
  width: 52px;
  height: 48px;
}

.s-272-windows-2x-white{
  background-position: -407px -76px ;
  width: 40px;
  height: 36px;
}

.s-19-gear{
  background-position: -12px -158px ;
  width: 26px;
  height: 26px;
}

.s-53-house{
  background-position: -65px -159px ;
  width: 22px;
  height: 22px;
}

.s-112-group{
  background-position: -118px -161px ;
  width: 32px;
  height: 21px;
}

.s-187-pencil{
  background-position: -168px -160px ;
  width: 23px;
  height: 23px;
}

.s-253-person{
  background-position: -208px -159px ;
  width: 26px;
  height: 24px;
}

.s-272-windows{
  background-position: -252px -163px ;
  width: 20px;
  height: 18px;
}

.s-19-gear-2x{
  background-position: -11px -227px ;
  width: 52px;
  height: 52px;
}

.s-53-house-2x{
  background-position: -92px -229px ;
  width: 44px;
  height: 44px;
}

.s-112-group-2x{
  background-position: -163px -233px ;
  width: 64px;
  height: 42px;
}

.s-187-pencil-2x{
  background-position: -248px -235px ;
  width: 46px;
  height: 46px;
}

.s-253-person-2x{
  background-position: -322px -232px ;
  width: 52px;
  height: 48px;
}

.s-272-windows-2x{
  background-position: -409px -241px ;
  width: 40px;
  height: 36px;
}