<p>Hola!, has sido seleccionado para realizar una evaluacion del ambiente laboral de <%=@research.organization.name.titleize%></p><br>
<p>Para realizar la encuesta dirigite a este <%= link_to "enlace", new_evaluation_url(acces_token:@evaluation.access_token) %></p>